/* Global Styles for Home Component */
section {
  text-align: center;
  padding: 2rem;
  background: url('../assets/angelshome.jpeg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

h2 {
  font-size: 2.5rem;
  color: #034694;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: #f2f2f2;
  margin-bottom: 1.5rem;
}

.animatedText {
  font-size: 1.5rem;
  color: #034694;
  margin-top: 1rem;
  font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
  h2 {
    font-size: 2rem; /* Reduce heading size */
  }

  p {
    font-size: 1rem; /* Reduce paragraph size */
    margin-bottom: 1rem;
  }

  .animatedText {
    font-size: 1.2rem; /* Smaller animated text on mobile */
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.5rem; /* Further reduce heading size for very small screens */
  }

  p {
    font-size: 0.9rem; /* Reduce paragraph size further */
  }

  .animatedText {
    font-size: 1rem; /* Further reduce animated text size */
  }

  section {
    padding: 1rem; /* Less padding on very small screens */
  }
}
